.DS_Store
node_modules
/build
/.svelte-kit
/package
.env.production
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Created by https://www.toptal.com/developers/gitignore/api/webstorm
# Edit at https://www.toptal.com/developers/gitignore?templates=webstorm

### WebStorm ###
.idea
