@import url(variables.css);

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html,
body {
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	font-family: Roboto, sans-serif;
	letter-spacing: 0.0178571429em;
	background-color: var(--surface-2);
	color: var(--on-surface);
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}

.h-layout {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}


/***********************************/
/* Specific custom design elements */
/***********************************/

* :global(.textfield-button) {
	margin: auto 1px;
}

/***********************************/
/* Global Filters                  */
/***********************************/

:global(.mdc-text-field--focused:not(.mdc-text-field--diabled) .mdc-notched-outline__notch) {
	& span.mdc-floating-label {
		color: var(--mdc-theme-primary);
	}
}

.mdc-menu-surface {
	width: 100%;
}

.smui-paper.smui-paper--unelevated {
	background-color: transparent;
	border: none;
}

.smui-paper.smui-paper--unelevated::before {
	box-shadow: none !important;
}

div.smui-paper__content {
	padding: 0 !important;
}

div.smui-accordion__header.mdc-ripple-surface.mdc-ripple-upgraded {
	div.smui-accordion__header__title {
		color: var(--on-surface);
	}
}

div.mdc-chip-set {
	div.chip-selected {
		background-color: var(--surface-0) !important;

		& span.mdc-chip__text {
			max-width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			padding-top: 3px;
		}
	}

}

/***********************************/
/* Event Sources                   */
/***********************************/

.mdc-deprecated-list-item {
	.mdc-deprecated-list-item__text {
		color: var(--on-surface);
	}
}

ul.demo-list.mdc-deprecated-list {
	& li.mdc-deprecated-list-item.mdc-deprecated-list-item--disabled {
		.mdc-deprecated-list-item__text {
			color: var(--mdc-theme-text-diabled-on-light);
			opacity:.7;
		}
	}
}